<%- include('./partials/headerR'); %>

    <main>
        <div class="bolles">
            <span style="--i:11"></span>  <span style="--i:11"></span>     
            <span style="--i:12"></span>  <span style="--i:10"></span>     
            <span style="--i:12"></span>  <span style="--i:18"></span>     
            <span style="--i:22"></span>  <span style="--i:11"></span>     
            <span style="--i:18"></span>  <span style="--i:13"></span>     
            <span style="--i:10"></span>  <span style="--i:25"></span>     
            <span style="--i:13"></span>  <span style="--i:10"></span> 
            <span style="--i:15"></span>  <span style="--i:11"></span>     
            <span style="--i:20"></span>  <span style="--i:16"></span>
            <span style="--i:24"></span>  <span style="--i:24"></span> 
            <span style="--i:16"></span>  <span style="--i:13"></span>
            <span style="--i:17"></span>  <span style="--i:10"></span>
            <span style="--i:30"></span>  <span style="--i:29"></span>
            <span style="--i:13"></span>  <span style="--i:22"></span>
            <span style="--i:11"></span>  <span style="--i:28"></span>
            <span style="--i:24"></span>  <span style="--i:15"></span>     
            <span style="--i:17"></span>  <span style="--i:18"></span>
            <span style="--i:18"></span>  <span style="--i:11"></span>
            <span style="--i:24"></span>  <span style="--i:24"></span> 
            <span style="--i:16"></span>  <span style="--i:13"></span>
            <span style="--i:16"></span>  <span style="--i:10"></span>
            <span style="--i:30"></span>  <span style="--i:18"></span>
            <span style="--i:13"></span>  <span style="--i:22"></span>
            <span style="--i:11"></span>  <span style="--i:28"></span>
            <span style="--i:24"></span>  <span style="--i:15"></span>     
            <span style="--i:30"></span>  <span style="--i:18"></span>
            <span style="--i:19"></span>  <span style="--i:10"></span>
            
        </div>
        <% if(locals.error ) { %>
            <div class="alert alert-danger">
                <%- locals.error %>
            </div>
        <% } %>
        <div class="cartes">
            <div class="links">
                <a href="/login"class="register">Connexion</a>
                <a href="/register" class="login">S'inscrire</a>
            </div>
            <div class="logos">
                <p class="typewriter">Best Learning</p>   
            </div>              
            <form method="POST" action="/login">               
                <div class="champ">                
                    <input type="text" class="inputlog" name="email" id="email2" placeholder="Email">
                    <div class="error"></div>
                </div>
                <div class="champ">                
                    <input type="password" class="inputlog" name="password" id="password2" placeholder="Votre mot de passe">
                    <div class="error"></div>
                </div>
                <button  type="submit" class="submit-btn" id="submit">Envoyer</button>
            </form>        
        </div>
        </main>

<%- include('./partials/footer'); %>