<!-- <%- include('./partials/headerR'); %>
<% if( locals.success){ %> 
<form method="POST" action="/updatepost/<%= post.id %>">
  <h1>Modifier votre post ici</h1>
      <div class="col-sm-4 m-3">
          <input type="text" class="form-control m-2 " name="content"  placeholder="content"  id="editcontent">
          <input type="file" name="attachement" class="form-control m-2"><br>
      </div>
  <button type="submit" class="btn btn-primary m-5 " id="change">Change</button>
</form>

<% } %> 
<%- include('./partials/footer'); %> -->
